.loader {
    z-index: 101;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 5%; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 5%; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 5%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 5%; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 5%; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.searchModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
}


.searchModalContainer {
    background: white;
    overflow: scroll;
    width: 50%;
    height: 80%;
    margin-top: 5%;
    margin-left: 30%;
}

.searchInputBox {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.show {
    visibility: visible;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search-result {
    height: 80%;
    padding-left: 15em;
    padding-right: 15em;
    overflow-x: hidden;
    overflow-y: auto;
}

a.disabled {
    background: lightgray;
    pointer-events: none;
    cursor: default;
}

.searchList {
    cursor: pointer;
}

.searchList:hover {
    background: cornflowerblue;
}

a:not(.disabled) {
    cursor: pointer;
}

button {
    cursor: pointer;
}

#searchBtn {
    margin-left: 0.5em;
}

#close {
    margin-left: 0.5em;
}

.searchHeader {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

h1.header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.zip-code-input {
    margin-bottom: 1em;
}

.large-input, #sample4_extraAddress {
    width: 25em;
    height: 2.5em;
}

#sample4_postcode, #postcode {
    height: 2.5em;
}
